<% content_for :meta_title, "#{@therapiesgaia.name} is on #{DEFAULT_META["meta_product_name"]}" %>
<% content_for :meta_description, @therapiesgaia.description %>
<% content_for :meta_image, image_tag "logo.jpg" %>


<p style="color: green"><%= notice %></p>

<%= render @therapy %>

<div>
  <%= link_to "Edit this therapy", edit_therapy_path(@therapy) %> |
  <%= link_to "Back to therapies", therapies_path %>

  <%= button_to "Destroy this therapy", @therapy, method: :delete %>
</div>
